// primary project colors 
$honey-yellow: #F6AE2D; // slider and nav border
$orange-red: #F26419; // slider and nav border and footer accent
$azure-blue: #2F80ED; // total accent
$gray: #C2C2C2; // sliders and meter bars background
$cultured-gray: #F5F5F5; // background color
$dark-gray: #505050; // text color
$white: white; // cards color

// secondary project colors 
$pansy-purple: #8D1558; // sliders and meter bars
$rich-black: #021627; // total accent
